@import "../../app.scss";

.c-error {
  border: solid 1px $t-red;
  background: $t-red--light;
  color: $t-red;
  padding: 10px;
}

.c-add-form {
  margin-bottom: 25px;

  &__input {
    border: none;
    background: white;
    padding: 10px;
    width: 350px;

    &:focus {
      outline: none;
    }
  }
}

.c-button {
  &--add {
    background: $t-white;
    color: $t-black;
    border: none;
    padding: 10px;
    font-weight: bold;
    width: 50px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
