$t-blue: #2e89dd;
$t-black: #000000;
$t-white: #ffffff;
$t-red: #ff0000;
$t-red--light: #ffe8e8;

body {
  background: $t-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 80%;
  min-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
